@(car: Form[CreateCarForm])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    <ul id="cars"></ul>

    @form(routes.Application.insertCar()) {
        @inputText(car("title"))
        @inputText(car("fuel"))
        @inputText(car("price"))
        @checkbox(car("isNew"))
        @inputText(car("mileAge"))
        @inputDate(car("firstRegistration"))

        <div class="buttons">
            <input type="submit" value="Add Car"/>
        </div>
    }

    <a href="delete">Delete car page</a>
    <a href="modify">Modify car page</a>
    <a href="returnData">Return car page</a>

}
